In [1]:
print ("Prueba")

Prueba

In [9]:
m=3
n=2
r= (m-n)*3
print(r)
rr=r/4
print (rr)
rrr=r//4
print(rrr)

3
0.75
0

In [10]:
m !=n

True

In [11]:
t1="aa"
t2="ab"
t1 > t2

False

In [16]:
l1=["aa",2,3] # > nombre, edad, peso
l2=["dd",2,2]
l1>l2

False

In [14]:
(t1>t2 ) or (l2>l1)

True

In [17]:
not ((t1>t2 ) or (l2>l1))

False

In [20]:
"data" in "hola data mundo"

True

In [22]:
l4 =[1,2,2]
1 in l4

True

In [25]:
m = [3]
n = [3]
m is n

False

In [23]:
1 + 3 * 4

13

In [26]:
x=4.4
int(x)

4

In [29]:
texto="hola"
texto2='texto igual'
textomulti = '''Prueba 
de comillas
a ver si va'''
print(textomulti)
textocomillas= 'un texto con"otro"'
textocomillas

Prueba
de comillas
a ver si va

'un texto con"otro"'

In [31]:
len(textocomillas)
len(l1)

3

In [39]:
l8= list ("hola mundo mio")
s8= set ("hola mundo mio")
print(l8,s8)

['h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', ' ', 'm', 'i', 'o'] {'h', 'd', 'a', 'm', ' ', 'n', 'o', 'u', 'i', 'l'}

In [40]:
sorted("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [42]:
sorted (l8)

[' ', ' ', 'a', 'd', 'h', 'i', 'l', 'm', 'm', 'n', 'o', 'o', 'o', 'u']

In [43]:
sorted (s8)

[' ', 'a', 'd', 'h', 'i', 'l', 'm', 'n', 'o', 'u']

In [51]:
a=3
b=3.0
a is b
a == b

True

In [56]:
"   Hola eso borra    ".strip()

'Hola eso borra'

In [58]:
"hola pepe".replace("a", "x")

'holx pepe'

In [59]:
a="hola"
b= "Pepe"
a+b

'holaPepe'

In [66]:
str="hola mundo"
str.replace("0'","x")
l1=str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())
str.split(" ").count("hola")

['hola', 'mundo']

1

In [67]:
l1=str.split(" ")
l1.count("hola")

1

In [68]:
l2=list({1,2,1})

In [72]:
t1=(1,2,3)
c1={1,2,3}
l2=list(c1)
l2 [-2]

2

In [81]:
l1=[1,2,3,4,5,6,7,8,9,10]
prim=l1[0]
ult=l1[len(l1)-1]
print(prim,ult)
l1 [1:10:3]
indInicial =1
indFinal=10
salto=2
l1[indInicial:indFinal:salto]

1 10

[2, 4, 6, 8, 10]

In [83]:
l1[1:3]=["a","b"]
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [86]:
l1.append(2)
l1
l2=["x","y","z"]
l1.extend(l2)
l1
l3=l1+l2
l3

[1,
 'a',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 2,
 'x',
 'y',
 'z',
 2,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [88]:
l1.insert(2,"hola")
l1

[1,
 'a',
 'hola',
 'hola',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 2,
 'x',
 'y',
 'z',
 2,
 'x',
 'y',
 'z']

In [91]:
l1=[1,2,3,4,5,6,7,8,9]
del(l1[:2])
l1

[3, 4, 5, 6, 7, 8, 9]

In [92]:
l1=[1,2,3,4,5,6,7,8,9]
e1=l1.pop(2)
print(e1,l1)

3 [1, 2, 4, 5, 6, 7, 8, 9]

In [98]:
l1=[1,2,3]
l2=["a","b","c"]
try:
    l1>l2
except:
    print("fallo")
print("Continua el programa")

fallo
Continua el programa

In [100]:
l1 = [45,2,24,34]
max(l1)

45

In [114]:
l1 =["z","a","b","c","a"]
l1.index("a",1)
l1.sort(reverse=True)
l1

['z', 'c', 'b', 'a', 'a']

In [108]:
t1=1,2,2,3,3,3
t1
print(type(t1))

<class 'tuple'>

In [110]:
s1={"a",1,True,"a"}
s1

{1, 'a'}

In [118]:
s1=set (l1)
s1.update([2,3,4,5])
print (l1,s1)

['z', 'c', 'b', 'a', 'a'] {'z', 2, 3, 4, 5, 'a', 'b', 'c'}

In [123]:
s1={"a","b",2}
s2={1,2,5,"c"}
s3=s1.intersection(s2)
s3

{2}

In [1]:
dict1 = {"lunes":1, "martes":2, "miercoles":3}
l1=list(dict1.keys())
l1
vals=tuple(dict1.values())
vals
items=list(dict1.items())
items

[('lunes', 1), ('martes', 2), ('miercoles', 3)]

In [ ]:
"lunes" in dict1.keys()
dict1["lunes"]="primero"
del(dict1["lunes"])
#dict1.pop("martes")
dict1.get("martes", "no existe")

'no existe'

['Petra', 'perro', 2, 5]